@page "/"
@inject ILocalStorageService localStorage

<PageTitle>Index</PageTitle>

<h1>Hey human!</h1>
<h3>Facebook is old news</h3>
<h3>Register over to the left to join the fun that is Fora Forum !!!</h3>


@code{
}