@page "/"
@inject ILocalStorageService localStorage

<PageTitle>Index</PageTitle>



<AuthorizeView>
            <NotAuthorized>
                <h1>Hey human!</h1>
                <h3>Facebook is old news</h3>
                <h3>Register or log in to join the fun!</h3>
            </NotAuthorized>
            <Authorized>
                <h1>Welcome back!</h1>
            </Authorized>
        </AuthorizeView>

@code{
}