@page "/interests"

<div class="card">
    <h5 class="card-header">Available interests</h5>
    <div class="card-body">
        <AvailableInterests></AvailableInterests>
    </div>
</div>
<div class="card">
    <h5 class="card-header">User interests</h5>
    <div class="card-body">
        <InterestsByUser></InterestsByUser>
    </div>
</div>

@code {

}
