@page "/login"
@using TheNewFora.Client.Services
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IApplicationUsersManager UserManager 

<h3>Login</h3>

@if(!String.IsNullOrEmpty(error))
{
    <em>@error</em>
}

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Username:</label>
    <InputText id="username" @bind-Value="user.Username" placeholder="Username"></InputText>
    <label for="password">Password:</label>
    <InputText id="password" @bind-Value="user.Password" placeholder="Password" type="password"></InputText>
    <button class="btn btn-primary" type="submit">Log in</button>
</EditForm>

@code {
    private UserDto user = new();
    private string error = String.Empty;

    private async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync<UserDto>("api/auth", user);

        if(result.IsSuccessStatusCode)
        {
            var token = await result.Content.ReadAsStringAsync();

            if(token == "UserDeleted")
            {
                await ReviveAccountAsync(user.Username);
            }
            else
            {
                await LocalStorage.SetItemAsync("token", token);

                await AuthStateProvider.GetAuthenticationStateAsync();

                NavigationManager.NavigateTo("/UserPage"); 
            }
        }
        else
        {
            error = await result.Content.ReadAsStringAsync(); 
        }
    }

    private async Task ReviveAccountAsync(string userName)
    {
        if (!await JSRuntime.InvokeAsync<bool>
            ("confirm", $"Do you want to revive your account?"))
            return;

        HttpResponseMessage response = await Http.DeleteAsync($"api/auth/revive?username={userName}");
        await HandleLogin();
    }
}
